$color-gray: #e2ebf6;
$color-green: #558309;
$color-dark-green: #314d05;
$color-dark-gray: #c4d1e1;
$color-light-gray: #ecf2f8;
$color-light-red: #f7ebfe;
$color-cyan: #0b93b1;
$color-pink: rgb(185, 88, 104);
